
body {
    background-image: url('Source/fon_test.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: "Georgia", serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ddd;
}

h1{
    border: 4px solid #b8860b;
    background-color: rgba(0,0,0,0.7);
    margin-bottom: 20px;
    padding: 15px;
    color: #ffdf00;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    font-family: 'Cinzel', serif;
}

h3 {
    font-weight: bold;
    font-size: 24px;
    border: 2px solid #b8860b;
    background-color: rgba(0,0,0,0.7);
    padding: 10px 15px;
    color: #ffdf00;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin: 15px 0;
    border-radius: 8px;
    font-family: 'Cinzel', serif;
    text-align: left;
    width: fit-content;
}

a{
    color: #ffdf00;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, text-shadow 0.3s;

}

a:hover{
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6)
}

main{
    font-family: "Roboto", sans-serif;
    font-size: large;
    padding: 1%;
    word-spacing: 2px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h4{
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    background: linear-gradient(135deg, #8b4513, #a0522d);
    padding: 10px 20px;
    color: #ffffff;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    margin:10px 0;
    text-align: left;
    width: fit-content;
    font-family: 'Cinzel', serif;
    border: 2px solid #b8860b;
}

p{
    color: #ddd;
    font-size: 18px;
    line-height: 1.6;
}

button{
    background-color: #8b4513;
    color: #fff;
    border: 2px solid #b8860b;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Cinzel', serif;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
    transition: transform 0.2s;
}

li{
    text-decoration: underline;
}

.capitalize{
    font-style: italic;
    text-transform: capitalize;
}

pre{
    padding: 15px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #dddddd;
    overflow-x: auto;
}

code{
    padding: 2px 4px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 3px;
}

button:hover{
    transform: scale(1.1);
    background-color: #a0522d;
}

.header {
    /*display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

     */
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

}
.header img{
    max-width: 450px;
    height: auto;
}


.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0 0 20px;
}

.buttons a {
    padding: 10px 20px;
    background-color: #8b4513; ;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover{
    margin-top: 30px;
    font-size: 1.5em;
    padding-left:20px ;
}

.navigation{
    font-size: 1.5em;
    padding-left: 20px;
}

.container{
    background-color: black;
    display: flex;
    align-items: center;
    align-content: center;
}

.image-container img{
    width: 200px;
    height: auto;
 }

.title {
    font-size: 36px;
    color: lightgray;
}
.footer{
    text-align: left;
    margin-left: 20px;
}

.connection-section{
    text-align: left;
    margin-left: 20px;
}

.table-section {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.6);
}

.table-section th {
    background-color: #8b4513;
    color: #ffffff;
    font-family: 'Cinzel', serif;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.table-section td {
    color: #ffdf00;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #b8860b;
}

.table-section tr:nth-child(even) {
    background-color: rgba(255, 223, 0, 0.1);
}

.table-section tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.5);
}



.gallery-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    box-sizing: border-box;
}

.gallery-section img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    transition: transform 0.3s;
}

.gallery-section img:hover{
    transform: scale(1.05);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.gallery img {
    width: 200%;
    height: auto;
    border-radius: 5px;
    border: 2px solid #b8860b;
}

.gallery .description {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    width: 90%;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.gallery:hover .description {
    display: block;
}

.table-container {
    display: grid;
    gap: 10px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    background-color: #8b4513;
    color: #333;
    font-weight: bold;
    text-align: center;
}


.table-container {
    background-color: black;
    padding: 10px;
    text-align: center;
}

.table-container .table-row:nth-child(even) {
    background-color: #ddd;
}

.full-width {
    width: 100%;
    padding: 20px;
}

.history-section {
    width: 100%;
    max-width: 1200px;
    margin: 140px auto 0;
    padding: 20px;
    box-sizing: border-box;
}

.countries-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.country-block {
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin: 10px;
    border: 2px solid #b8860b;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.country-block img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.country-block:hover{
    transform: scale(1.05);
}


.country-name {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
}

main {
    padding-top: 150px;
}

.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 20px;
    background-color: #ffdf00;
    color: #333;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s, transform 0.3s;
}

.scroll:hover {
    opacity: 1;
    transform: scale(1.1);
}

.load-time-info {
    font-size: 0.9em;
    background-color: Black;
    color: Red;
    text-align: center;
    margin-top: 10px;
}

.active {
    font-weight: bold;
    color: Red;
}

html {
    scroll-behavior: smooth;
}

.label-style {
    font-weight: bold;
    font-size: 20px;
    border: 2px solid #b8860b;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
    color: #ffdf00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    border-radius: 8px;
    font-family: 'Cinzel', serif;
    display: inline-block;
}

.big-button {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffdf00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: 3px solid #b8860b;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: 'Cinzel', serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, background-color 0.3s;
}

.big-button:hover {
    transform: scale(1.1);
    background-color: #a0522d;
}

.form-input {
    width: 50%;
    padding: 10px;
    margin: 10px auto;
    font-size: 18px;
    border: 2px solid #b8860b;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffdf00;
    text-align: center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    font-family: 'Cinzel', serif;
}

.form-input:focus {
    outline: none;
    border-color: #a0522d;
    box-shadow: 0 0 10px rgba(160, 82, 45, 0.7);
}


#initiativeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.form-checkbox {
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 2px solid #b8860b;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.6);
    appearance: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transition: transform 0.3s ease;
}

.form-checkbox:hover {
    transform: scale(1.1);
    animation: pulse 1s infinite;
}

.form-checkbox:checked {
    background-color: #ffdf00;
    border-color: #ffdf00;
    transform: scale(1.2);
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0%, 100% {
        box-shadow: 0 0 10px rgba(255, 223, 0, 0.7);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 223, 0, 1);
    }
}

.carousel img {
    display: block;
    height: 600px;
}

.flickity-prev-next-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #ffdf00;
    border-color: #ffdf00;
}

.flickity-prev-next-button.previous {
    left: -50px;
}

@media screen and ( min-width: 768px ) {
    .carousel img {
        height: 600px;
    }
}



@media screen and (max-width: 768px) {
    .gallery img{
        width: 100px;
    }

    .advert-banner{
        display: none;
    }
}

@media screen and (max-width: 769px) and (max-device-width: 1920px) {
    .gallery img{
        width: 150px;
    }
}

@media screen and (max-width: 1921px) {
    .gallery img{
        width: 250px;
    }
}

@media screen and (max-width: 760px) {
    .table-container {
        display: none;
    }
}